<!DOCTYPE html>
<html ng-app="magicBarChart">
<head>
    <meta charset="utf-8">
    <title>Magic Bar Chart</title>

    <!-- Angular + Bootstrap UI -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Chiasm Application -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
    <script src="http://curran.github.io/model/cdn/model-v0.2.4.js"></script>
    <script src="http://chiasm-project.github.io/chiasm-component/chiasm-component-v0.2.1.js"></script>
    <script src="http://chiasm-project.github.io/chiasm/chiasm-v0.2.0.js"></script>
    <script src="http://chiasm-project.github.io/chiasm-layout/chiasm-layout-v0.2.2.js"></script>
    <script src="http://chiasm-project.github.io/chiasm-links/chiasm-links-v0.2.1.js"></script>
    <script src="http://chiasm-project.github.io/chiasm-dsv-dataset/chiasm-dsv-dataset-v0.2.0.js"></script>
    <script src="http://chiasm-project.github.io/chiasm-data-reduction/chiasm-data-reduction-v0.2.0.js"></script>
    <script src="barChart.js"> </script>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <style>

        #chiasm-container {
            height: 500px;
            padding: 0;
        }

        .widget-container {
            margin-top: 30px;
        }

        .axis {
            font-family: 'Montserrat', sans-serif;
        }

        .axis text {
            font-size: 12pt;
        }

        .axis .label {
            font-size: 24pt;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: gray;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }

    </style>

    <!-- This is the main program that sets up the application. -->
    <script src="app.js"></script>

</head>
<body>
<div class="row">
    <div class="col-sm-4 widget-container" ng-controller="magicBarChartCtrl">
        <form class="form-horizontal">

            <!-- Dataset selector -->
            <div class="form-group">
                <label for="datasetSelect" class="col-sm-4 control-label">Dataset</label>
                <div class="col-sm-8">
                    <select id="datasetSelect" class="form-control"
                            ng-model="params.selectedDataset" ng-options="dataset for dataset in datasets">
                    </select>
                </div>
            </div>

            <!-- Column selector -->
            <div class="form-group">
                <label for="repeatSelect" class="col-sm-4 control-label">Column</label>
                <div class="col-sm-8">
                    <select id="repeatSelect" class="form-control"
                            ng-model="params.selectedColumn" ng-options="column.label for column in columns">
                    </select>
                </div>
            </div>

            <!-- Bin Size slider -->
            <div class="form-group" ng-if="numericColumnSelected()">
                <label class="col-sm-4 control-label">Bin Size</label>
                <div class="col-sm-8">
                    <input type="range" min="0" max="100" ng-model="params.numBins">
                </div>
            </div>

            <!-- Orientation radio buttons -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Orientation</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions"
                               value="horizontal" ng-model="params.orientation">
                        horizontal
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions"
                               value="vertical" ng-model="params.orientation">
                        vertical
                    </label>
                </div>
            </div>

            <!-- Color picker -->
            <div class="form-group">
                <label class="col-sm-4 control-label">Bar Color</label>
                <div class="col-sm-8">
                    <input type="color" ng-model="params.barColor">
                </div>
            </div>

        </form>
    </div>

    <!-- Chiasm component DOM elements will be injected into this div. -->
    <div class="col-sm-8" id="chiasm-container"></div>

</div>
</body>
</html>