<div layout="column" layout-margin layout-fill layout-padding>
    <div>
        <h1 class="md-display-2">Magic Bar Chart</h1>
    </div>

    <div layout="row" layout-align="space-between center" layout-sm="column">

        <div flex="33" flex-sm="100">

            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">

                        <h2>
                            <span>Bar Chart configuration</span>
                        </h2>

                    </div>
                </md-toolbar>

                <md-content class="md-whiteframe-z1" layout="column" layout-padding layout-align="space-between left"
                            layout-sm="column">

                    <div layout="row">

                        <!-- Dataset selector -->
                        <md-input-container>
                            <label>Dataset</label>
                            <md-select ng-model="params.selectedDataset">
                                <md-option ng-repeat="dataset in datasets" value="{{dataset.name}}">
                                    {{dataset.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <!-- Column selector -->
                        <md-input-container>
                            <label>Column </label>
                            <md-select ng-model="params.selectedColumn">
                                <md-option ng-repeat="column in columns" ng-value="column">
                                    {{column.label}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <!-- Bin Size slider -->
                    <div layout ng-if="numericColumnSelected()">
                        <div flex="30" layout layout-align="center center">
                            <span class="md-body-1">Bin Size</span>
                        </div>
                        <md-slider flex min="0" max="100" ng-model="params.numBins" aria-label="Bin Size"
                                   id="blue-slider" class="md-primary">
                        </md-slider>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="params.numBins" aria-label="Bin Size"
                                   aria-controls="blue-slider">
                        </div>
                    </div>

                    <!-- Orientation radio buttons -->

                    <md-radio-group ng-model="params.orientation">
                        <div flex layout="row" layout layout-align="center center">
                            <label control-label>Orientation:</label>
                            <md-radio-button value="horizontal" class="md-primary">Horizontal</md-radio-button>
                            <md-radio-button value="vertical">Vertical</md-radio-button>
                        </div>
                    </md-radio-group>

                    <!-- Color picker -->
                    <div flex layout="row" layout-align="space-between left">
                        <label class="control-label">Bar Color</label>

                        <div style="margin-left: 10px">
                            <input type="color" ng-model="params.barColor">
                        </div>

                    </div>

                </md-content>
            </form>
        </div>


        <!-- Chiasm component DOM elements will be injected into this div. -->

        <div flex>
            <div id="chiasm-container"></div>
        </div>

    </div>
</div>
