<div layout="column" layout-margin layout-fill layout-padding>
    <div>
        <h1 class="md-display-2">Magic Bar Chart</h1>

        <p>
            Drawn from Curren's <a href="http://bl.ocks.org/curran/b6e1d23c16dc76371a92">Magic Bar Chart</a></li>
        </p>

    </div>

    <div layout="row" layout-align="space-between center" layout-sm="column">

        <div flex="33" flex-sm="100">

            <form>
                <md-toolbar>
                    <div class="md-toolbar-tools">

                        <h2>
                            <span>Bar Chart configuration</span>
                        </h2>

                    </div>
                </md-toolbar>

                <md-content class="md-whiteframe-z1" layout="column" layout-padding layout-align="space-between left"
                            layout-sm="column">

                    <div layout="row">

                        <!-- Dataset selector -->
                        <md-input-container>
                            <label>Dataset</label>
                            <md-select ng-model="params.selectedDataset">
                                <md-option ng-repeat="dataset in datasets" value="{{dataset.name}}">
                                    {{dataset.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <!-- Column selector -->
                        <md-input-container>
                            <label>Column </label>
                            <md-select ng-model="params.selectedColumn">
                                <md-option ng-repeat="column in columns" ng-value="column">
                                    {{column.label}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <!-- Bin Size slider -->
                    <div layout ng-if="numericColumnSelected()">
                        <div flex="30" layout layout-align="center center">
                            <span class="md-body-1">Bin Size</span>
                        </div>
                        <md-slider flex min="0" max="100" ng-model="params.numBins" aria-label="Bin Size"
                                   id="blue-slider" class="md-primary">
                        </md-slider>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="params.numBins" aria-label="Bin Size"
                                   aria-controls="blue-slider">
                        </div>
                    </div>

                    <!-- Orientation radio buttons -->

                    <md-radio-group ng-model="params.orientation">
                        <div flex layout="row" layout layout-align="center center">
                            <label control-label>Orientation:</label>
                            <md-radio-button value="horizontal" class="md-primary">Horizontal</md-radio-button>
                            <md-radio-button value="vertical">Vertical</md-radio-button>
                        </div>
                    </md-radio-group>

                    <!-- Color picker -->
                    <div flex layout="row" layout-align="space-between left">
                        <label class="control-label">Bar Color</label>

                        <div style="margin-left: 10px">
                            <input type="color" ng-model="params.barColor">
                        </div>

                    </div>

                </md-content>
            </form>
        </div>


        <!-- Chiasm component DOM elements will be injected into this div. -->

        <div flex>
            <div id="chiasm-container"></div>
        </div>

    </div>

    <div id="readme" class="blob instapaper_body">
        <article class="markdown-body entry-content" itemprop="mainContentOfPage"><p>This example shows one way to add a
            user interface on top of a <a href="https://github.com/chiasm-project/chiasm">Chiasm</a> application (using
            AngularJS and Angular Material).
            Every time an interaction is performed with the widgets on the left, a new Chiasm configuration is generated
            and passed into the Chaism runtime environment.
            The runtime environment then computes the difference between the previous configuration and the new
            configuration,
            then executes actions corresponding to the changes to the appropriate component instances.</p>

            <p>Features of this example include:</p>

            <ul>
                <li>Selection from three preselected data sets from the <a
                        href="https://archive.ics.uci.edu/ml/datasets.html">UCI Machine Learning Repository</a></li>
                <li>Selection of a single column from the selected data set to visualize in the bar chart.

                    <ul>
                        <li>Numeric columns will be aggregated into bins and presented as a histogram.</li>
                        <li>Categorical columns will be aggregated and presented as a bar chart, where each bar
                            corresponds to a unique value.
                        </li>
                    </ul>
                </li>
                <li>Selection of bar chart orientation between horizontal and vertical.</li>
                <li>Selection of bar fill color.</li>
            </ul>

            <p>Known Issues (e.g. with the "adult" data set):</p>

            <ul>
                <li>The original "adult" data set has no column headline. The data set used has only 500 of 30,000 lines
                    of data. When using the original data set add the first line of the adult.csv data set.
                </li>
                <li>The tick labels overlap each other on the X axis in many cases</li>
                <li>The tick labels overlap with the axis label on the Y axis</li>
            </ul>

            <p>Draws from</p>

            <ul>
                <li><a href="http://bl.ocks.org/curran/87d038562333a7ad4a64">Crossfilter &amp; Chiasm</a></li>
            </ul>
        </article>
    </div>
</div>
